.jumbo1 {
    background-image: url("jumbotronbg.jpg");
    background-size: cover;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding: 5%;
    text-align: center;
    letter-spacing: 2px;
  }

  .jumbo2 {
    background-image: url("dartswb.jpg");
    background-size: cover;
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding: 5%;
    text-align: center;
    letter-spacing: 2px;
  }

  .jumbo3 {
    background-image: url("eszkozok.jpg");
    background-size: cover;
    color: whitesmoke;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    padding: 5%;
    text-align: center;
    letter-spacing: 2px;
  }

  body{
      background-color: #292b2c;
      color: whitesmoke;
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      letter-spacing: 2px;
  }

  .nav-link{
      margin: 5px 20px 5px 20px;
  }

  a:link, a:visited, a:active{
      color: whitesmoke;
      text-decoration: none;
  }

  h2{
      margin-top: 15px;
      margin-left: 50px;
  }
  p{
      text-indent: 25px;
  }

  .szoveg{
      margin-left: 60px;
      margin-right: 60px;
  }

  ul, li{
    display: inline-block;  
    text-align: center;
    align-items: center;
    margin: 5px 20px 5px 20px;
  }